


* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e88181;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  font-size: 16px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: rgb(160, 77, 77);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px gray;
  color: #fff;
  
}

.card h2 {
  text-transform: capitalize;
}

.card button {
  padding: 8px 12px;
  cursor: pointer;
}

.details {
  background: rgb(239, 115, 115);
  padding: 25px;
  border-radius: 10px;
}

.details > button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #431d1d;
  border-radius: 10px;
  color: #ddd;
}

.comment {
  border-top: 1px solid #e66464;
  padding: 15px 0;
  color: #fff;
  background-color:  rgb(160, 77, 77);
  
}

@media (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

#ViewCom{
    background-color: #431d1d;
    border-radius: 10px;
    color: #ddd;
  
}

#comPosTi{
  color: black;
}
#comPosBody{
  color: black;
}
.actualCom{
  background-color: rgb(160, 77, 77);
}
.actualCom > h3{
  color: #ddd;
  height: 10px;
}